<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005851380913-lv5jp3biinogomt6ocbabrr4q90rn25e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005851380913-lv5jp3biinogomt6ocbabrr4q90rn25e</string>
	<key>API_KEY</key>
	<string>AIzaSyAGQ4p5YTJndtzpOiSEENB4IhTcrk2H6zo</string>
	<key>GCM_SENDER_ID</key>
	<string>1005851380913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Najim.Bopp-Music-Player</string>
	<key>PROJECT_ID</key>
	<string>bopp-15e3c</string>
	<key>STORAGE_BUCKET</key>
	<string>bopp-15e3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005851380913:ios:b5afb77d904080c7b62690</string>
</dict>
</plist>